body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2E2F42;
}

.part-of-logo {
    font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #4D5AE5;
}

.logo-part-2 {
    color: #F4F4FD;       
}

.nav-list-item:hover,
.nav-list-item:focus,
.nav-list-item:active {
    color: #404BBF;
}

.nav-list-item {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em; 
        color: #2E2F42;
}

.nav-address:hover,
.nav-address:focus {
    color: #404BBF;
}

.nav-address {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left; 
    color: #434455;
    font-style: normal;
}

.hero-page {
    background-color: #2E2F42;
    width: 1440px; 
    height: 600px 
}

.hero-title {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.hero-button {
    width: 169px;
    height: 56px;  
    border-radius: 4px;
    gap: 10px;
    background-color: #4D5AE5;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.benefit-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.benefit-text {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.team-block {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.team-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.footer-block {
    height: 312px; 
    background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}